%div.header
  %h2
    = link_to 'P4T', '/'
    \- 
    =sanitize @title
  - if session[:login_id]
    %p
      login as
      %b
        =h @login_user.screen_name
    %div.user_menu
      = link_to 'home', :controller => :home
      = link_to 'About', 'http://page.ssig33.com/view/About%20P4T/2010-01-01%2006:12:40%20UTC'
      = link_to 'Settings', :controller => :settings
      = link_to 'Sign Out', :controller => :session, :action => :kill
      = link_to 'Source', 'http://github.com/ssig33/P4T'
  - if session[:login_id] == nil
    %div.user_menu
      = link_to 'About', 'http://page.ssig33.com/view/About%20P4T/2010-01-01%2006:12:40%20UTC'
      = link_to 'Sign In or Sign Up', :controller => :session
      = link_to 'Source', 'http://github.com/ssig33/P4T'
  %div.notice
    =h flash[:notice]
  %div.error
    =h flash[:error]
  %hr
